div.button {
    width: 160px;
    height: 40px;
    border: 5px yellow;
    border-radius: 4px;
    background-color: #333333;
    color: whitesmoke;
    text-align: center;
    font-size: 25px;
    
}

div.header {
    height: 8%;
    background-color: #333333;
}

div.left_side {
    width: 8%;
    height: 90%;
    float: left;
    background-color: #333333;
}

div.right_side {
    float: right;
    width: 91%;
    height: 90%;
    background-color: whitesmoke;
}

div.center_button {
    float: center;
    width: 2%;
    height: 90;
    background-color: black;
}

th.simple {
    border-top: none;
    border-left: none;
    color: #85828b;
    font-size: 12px;
    padding: 5px 10px;    
}

